.highlight {
  color: $red;
  font-weight: 600;
}

.item {
  padding-left: 30px;
}

.bigger {
  font-size: 150%
}

#network {
  .node {
    stroke: #000;
  }
  .node text {
    font: 13px sans-serif;
    color: black;
    stroke: none;
  }

  .link {
    stroke: #bbb;
    stroke-opacity: .6;
  }
}
